.sec1-img-parent{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    background-color: #fafafa;
    border-radius: 8px;

}
.sec1-img-parent img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.sec1-img-parent div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, transparent 80%, #fafafa 100%);

}

@media screen and (max-width:550px) {
    .sec1-img-parent{
    width: 100%;
    }
}