@media screen and (max-width:1100px) {
    .email-parent {
        border: none;
        margin-top: 2rem;
    }
}

@media screen and (max-width:400px) {
    .email-head {
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .email-head h1 {
        font-size: 18px;
    }
}

@media screen and (max-width:550px) {
.emailbody-head{
    flex-direction: column;
    align-items: start;
}

}