@media screen and (max-width:805px) {
    .faq-h1 {
        font-size: 36px;
        line-height: 2.7rem;
    }
    .faq-parent{
        margin-top: -2rem;
    }
}


@media screen and (max-width:600px) {
    .faq-h1 {
        font-size: 32px;
    }
    .faq-p{
        font-size: 14px;
    }
}

@media screen and (max-width:450px) {
    .faq-h1 {
        font-size: 24px;
        line-height: 2.4rem;
    }
     .faq-parent{
        margin-top: -3rem;
    }
}

@media screen and (max-width:360px) {
    .faq-h1 {
        font-size: 22px;
    }
}

@media screen and (max-width:320px) {
    .faq-h1 {
        font-size: 20px;
    }
}