.logo_images {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo_images .image {
    width: 48px;
}

.logo_images .image img {
    width: 100%;
}

.tech-parent {
    width: 100%;
}

@media screen and (max-width:1068px) {
    .logo_images {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .logo_images {
        width: 80%;
    }
}

@media screen and (max-width:550px) {
    .logo_images .image {
        width: 32px;
    }
}
@media screen and (max-width:350px) {
    .logo_images {
        width: 95%;
    }
}